@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
